{%extends 'base.html'%}
{%load static%}
{%block style%}
    <link rel="stylesheet" href="{%static 'css/change_password.css'%}">
    <script src="{%static 'js/change_password.js'%}" defer></script>
{%endblock%}

{%block content%}
<div class="container">
    <form class="form">
        {% csrf_token %}
        <label for="password">New password:</label>
        <input type="password" placeholder="new password" id="password"><br>
        <label for="repeat-password">Repeat the password:</label>
        <input type="password" placeholder="repeat password" id="repeat-password"><br>
        <button type="submit">submit</button>
    </form>
</div>
{%endblock%}
