{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{%static 'js/change_password.js'%}" defer></script>

</head>
<body>
    <form class="form">
        {% csrf_token %}
        <label for="password">New password:</label>
        <input type="password" placeholder="new password" id="password"><br>
        <label for="repeat-password">Repeat the password:</label>
        <input type="password" placeholder="repeat password" id="repeat-password"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>