{%extends 'base.html'%}
{%load static%}
{%block style%}
    <link rel="stylesheet" href="{%static 'css/register.css'%}">
    <script src="{%static 'js/register.js'%}" defer></script>
{%endblock%}
{%block content%}
<div class="container">
    <form class="form">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" placeholder="username" id="username"><br>
        <label for="email">Email:</label>
        <input type="email" placeholder="email" id="email"><br>
        <label for="password">Create a password:</label>
        <input type="password" placeholder="password" id="password"><br>
        <label for="repeat-password">Repeat the password:</label>
        <input type="password" placeholder="repeat password" id="repeat-password"><br>
        <button type="submit">submit</button>
    </form>    
</div>

{%endblock%}