{%extends 'base.html'%}
{%load static%}
{%block style%}
    <link rel="stylesheet" href="{%static 'css/create_product.css'%}">
    <script src="{%static 'js/create_product.js'%}" defer></script>
{%endblock%}
{%block content%}
<div class="title">
    <h1>Create a product</h1>
</div>

<div class="container">
    <form class="form">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name"><br>
        <label for="price">Price</label>
        <input type="text" id="price"><br>
        <label for="description">Description</label>
        <input type="text" id="description"><br>
        <label for="image">Image</label>
        <input type="text" id="image"><br>
        <label for="category">Category</label>
        <select id="category">
            {% for category in categories%}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Create</button>
    </form>
</div>
{%endblock%}
