{%extends 'base.html'%} 
{%load static%} 
{%block style%}
<link rel="stylesheet" href="{%static 'css/categories.css'%}" />
{%endblock%} 
{%block content%}
<div class="container">
	<div class="categories">
		<!-- перебераем все объекты класса "категория" -->
		{%for category in categories%}
		<!-- Выводим через jinja имя каждого перебераемого обьекта -->
		<!-- <h1>{{category.name}}</h1> -->
		<!-- по названию полученной выше категории(текст) добавляем ссылку для перехода на category/category_name 
        где category_name = category.name, то есть названию получченой выше категории-->
		<a class="category" href="{% url 'category' category.name %}"
			>{{category.name}}
			<img src="{%static 'img/'%}{{category.pk}}.png" alt="" />
		</a>

		{%endfor%}
	</div>
</div>
{%endblock%}
