{%extends 'base.html'%}
{%load static%}
{%block style%}
    <link rel="stylesheet" href="{%static 'css/products.css'%}">
{%endblock%}
{%block content%}
<div class="container">
    <h1 class="title">Products</h1>
    <div class="products">
        {% for product in products %}
        <div class="product">
            <h1>{{product.name}}</h1>
            <img src="{{product.image}}" alt="">
            <p>Price: £{{product.price}}</p>
            <a class="link" href="{% url 'product' product.pk %}">See full</a>
        </div>
        {% endfor %}
        {%if user.is_authenticated and user.is_superuser%}
        <a href="{% url 'create-product' %}">Create a new product</a>
        {% endif %}
    </div> 
</div>
 
  
    
{%endblock%}
