<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="products">
    <h1>Products</h1>
    {% for product in products %}
    <h1>{{product.name}}</h1>
    <h2>{{product.price}}</h2>
    <p>{{product.description}}</p>
    <img src="{{product.image}}" alt="">  
    <a href="{% url 'product' product.pk %}">See full</a>      
    </div>
  
    {% endfor %}
</body>
</html>